<a asp-controller="Admin" asp-action="ItemListPage">
	<p>Show product list</p>
</a>

<a asp-controller="Admin" asp-action="BrandListPage">
	<p>Show brand list</p>
</a>

<a asp-controller="Admin" asp-action="TypeListPage">
	<p>Show type list</p>
</a>

<a asp-controller="Admin" asp-action="AddItemPage">
	<p>Add product</p>
</a>

<a asp-controller="Admin" asp-action="AddBrandPage">
	<p>Add brand</p>
</a>

<a asp-controller="Admin" asp-action="AddTypePage">
	<p>Add type</p>
</a>

