 <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col item social">
                        <a href="https://www.facebook.com/profile.php?id=100011289399967"><i class="icon ion-social-facebook"></i></a>
                        <a href="https://twitter.com/YampolskiyDima"><i class="icon ion-social-twitter"></i></a>
                        <a href="https://www.snapchat.com/ru-RU"><i class="icon ion-social-snapchat"></i></a>
                        <a href="https://www.instagram.com/jessusgodzzz/"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Company Name © 2018</p>
            </div>
        </footer>
    </div>
