@{
    ViewData["Title"] = "About us";
}

<p>Phone: +38(066) 66-66-666</p>
<p>Mail: mail@comicbookshop.com.ua</p>
<p>Spot: Manhattan, Kaharkivska 68 from 12:00 to 17:00</p>

<div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
  <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div>